[submodule "includes/widgets/laxarjs/ax-headline-widget"]
	path = includes/widgets/laxarjs/ax-headline-widget
	url = https://github.com/LaxarJS/ax-headline-widget.git
[submodule "includes/widgets/laxarjs/ax-html-display-widget"]
	path = includes/widgets/laxarjs/ax-html-display-widget
	url = https://github.com/LaxarJS/ax-html-display-widget.git
[submodule "includes/widgets/laxarjs/ax-media-widget"]
	path = includes/widgets/laxarjs/ax-media-widget
	url = https://github.com/LaxarJS/ax-media-widget.git
[submodule "includes/widgets/laxarjs/ax-messages-widget"]
	path = includes/widgets/laxarjs/ax-messages-widget
	url = https://github.com/LaxarJS/ax-messages-widget.git
[submodule "includes/widgets/laxarjs/ax-markdown-display-widget"]
	path = includes/widgets/laxarjs/ax-markdown-display-widget
	url = https://github.com/LaxarJS/ax-markdown-display-widget.git
[submodule "includes/themes/cube.theme"]
	path = includes/themes/cube.theme
	url = https://github.com/LaxarJS/cube.theme.git
[submodule "includes/widgets/laxarjs/ax-popup-widget"]
	path = includes/widgets/laxarjs/ax-popup-widget
	url = https://github.com/LaxarJS/ax-popup-widget.git
[submodule "includes/widgets/laxarjs/ax-command-bar-widget"]
	path = includes/widgets/laxarjs/ax-command-bar-widget
	url = https://github.com/LaxarJS/ax-command-bar-widget.git
[submodule "includes/widgets/laxarjs/ax-show-hide-widget"]
	path = includes/widgets/laxarjs/ax-show-hide-widget
	url = https://github.com/LaxarJS/ax-show-hide-widget.git
