.app-header {
  height: 60px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.app-header h1 {
  text-align: right;
}

.app-footer {
  margin-top: 1em;
}

.app-logo {
  display: block;
  width: 229px;
  height: 60px;
  background: url("../images/laxarjs-logo.svg") no-repeat;
  background-size: contain;
}

.app-left {
  padding-top: 52px;
}

.app-middle {
  padding-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.app-right {
  padding-top: 52px;
}

.app-version {
  text-align: right;
}
@media (max-width: 992px) {
  .app-version {
    text-align: left;
  }
}

h1 > a,
h1 > a:hover,
h1 > a:focus,
h1 > a:visited {
  color: currentcolor;
  text-decoration: none;
}
