<h3 data-ng-bind-html="features.list.title.htmlLabel"></h3>
<div class="input-group">
   <input type="text" class="form-control" data-ng-model="search.name">
   <span class="input-group-addon"><i class='fa fa-search'></i></span>
</div>
<table class="table">
   <tbody>
      <tr class="selectable"
          data-ng-class="{ selected: widget.name == model.selectedWidgetName }"
          data-ng-repeat="widget in model.list | filter:search track by widget.name " >
         <td><a
            title="{{ widget.name }}"
            data-ng-href="{{ widget.href }}"
            data-ng-bind-html="widget.name | axWidgetBrowserHighlight:search.name"></a></td>
      </tr>
   </tbody>
</table>
